.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* product 리스트 스타일 */

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.product-li {
  list-style: none;
  float: left;
}

/* product item 스타일링 */

.product-item-box {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  border-radius: 20px;
  margin: 3px;
  width: 50em;
}

.image-box {
  margin: 3px;
}

.item-text {
  text-decoration: none;
}

/* page 리스트 스타일 */

.page-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.page-li {
  list-style: none;
  float: left;
}

/* search bar 스타일 */

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.search-category-li {
  list-style: none;
  float: left;
}

.search-asc-desc-li {
  list-style: none;
  float: left;
}

.search-input-li {
  list-style: none;
  float: left;
}

.search-input-box {
  display: flex;
  flex-direction: column;
}